.profile__edit-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 19px), calc(-50% + 4px));
}

@media screen and (max-width: 767px) {
    .profile__edit-btn {
        transform: translate(calc(100% + 10px), -50%);
    }
}